body {
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.seccion {
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
 
     margin: center;
}


.carta-late {
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    border: .2px solid black;
-webkit-box-shadow: -32px 29px 39px -6px rgba(51,56,55,0.84);
-moz-box-shadow: -32px 29px 39px -6px rgba(51,56,55,0.84);
box-shadow: -32px 29px 39px -6px rgba(51,56,55,0.84);
  
    align-items: center;
}


.cafe-img {
    width: 250PX;
    margin-top: 59PX;
    margin-right: 30PX;
    margin-bottom: 0px;
}

.titulo {
    font-size: 39px;
    font-style:oblique;
}

.precio {
    width: 50%;
}