*{
    padding: 0;
    margin: 0;
}

body{
    background-color: f1ecea;
    color: white;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#contenedor{
    width: 900px;
    height: auto;
    background-color: #b58c7c;
    max-width: 0 auto;
    border-radius: 10px;
}

#cabecera{ 
    height: 15%;
    width: 30%;
    margin: 1em;
    background-color: #3a251c ;
    border-radius: 15px;
    padding: 0px 303px;

}

#barradenavegacion{
    margin: 1em;
    background-color: b46424;
    height: 5%;
    border-radius: 5px;
    background-color: rgba(rgb(218, 132, 33));
    color: rgb(218, 132, 33
);
}

#seccion{ 
    margin: 0.5em;
    height: 500%;
    width: 50%;
    background-color: #362f2f;
    display: inline-table;
    text-align: center;
}

#asize{ 
    margin: 0.5em;
    height: 50%;
    width: 35%;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#piedepag{ 
    height: 10%;
    margin: 0.5;
    text-align: center;
    background-color: #553629;
    padding: 5px;
}

#pie{ 
    padding: 15px;
    font-size: 30px;
}

.texto{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    padding: 25px 25px;
}

.encabezado{
    color: 3a251c;
    text-align: center;
    padding: 25px;
    color: white;
    margin: 1em 3em;
    

}

.encabezado-aside{
    color: white;
    text-align: center;
    margin: 1em 1em;
    padding: 50px 10px;
    margin-left: 10%;
}

.menu-aside{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding: 25px 25px;
}

.lista-aside{
    padding: 0.5px;
    margin-right: 30%;
}

.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: white;
    margin-left: 30%;
}

.text-decoration{
    text-decoration: underline;
    color: rgb(14,14,139);
}

.guion-color{
    color: rgb(14, 14, 139);
}

img{
    width: 100px;
    height: 100px solid;
    right: 5px;
    right: 5px;
    border: 2px solid;
    justify-items: center
}

ul{
    text-align: center;
    padding-top: 15px;
}

li{
    display: inline;
    margin: 5px;
}

li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}