*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(rgb(159, 215, 224));
    color: black;
}

#contenedor{
    width: 1200px;
    height: 1500px;
    background-color: rgb(250, 250, 250);
}


.foot { 
    padding: 15px;
    font-size: 30px;
    height: 30px;
    margin-top: 113%;
    background-color: rgb(13, 173, 197)
}

.foot footer{
    font-size: large;
    color: black;
}

.titulo{
    color: white;
    background-color: rgb(159, 215, 224);
    margin-top: 10px;
    font-size: 50px;
}

.barranavegacion{
    background-color: rgb(13, 173, 197);
}

.textobarra ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.textobarra li{
    display: inline;
    margin-right: 10px;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 50px;
}

.textobarra a{
    text-decoration: none;
    color: white;
}

.verbo header{
    text-align: center;
}
.verbo {
    color: black;
    background-color: rgb(250, 250, 250);
    text-align: justify;
    width: 60%;
    margin-left: 50px;
    float: left;
    margin-top: 5px;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.verbo ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(250, 250, 250);
    margin-top: 15px;
    list-style-type: square;
}

.verbo li{
    margin-right: 10px;
    background-color: rgb(250, 250, 250);
}

.imagenskin img{
    width: 200px;
    height: 150px;
    border-radius: 10%;
    margin-top: 10px;
    margin-right: 36px;
}


.ejemplos header{
    text-align: center;
}

.ejemplos{
    color: white;
    background-color: rgb(203, 227, 231);
    text-align: center;
    float: right;
    width: 30%;
    margin-right: 0%;
    float: right;
    height: 40%;
    margin-top: 180px;
    margin-left: 12px;
    border-radius: 15%;
    
}

.ejemplos header{
    margin-top: 3%;
    font-size: 28px;
}

.ejemplos ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    
}

.ejemplos li{
    margin-right: 10px;
    margin-top: 5px;
    font-size: medium;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
}

.imagen img{
    width: 250px;
    height: 150px;
    border-radius: 10%;
    margin-top: 20px;
}

.imagencon img{
    width: 250px;
    height: 240px;
    border-radius: 10%;
    margin-top: 20px;
    margin-left: 200px;
}